@import '../common.scss';

div.inputContainer {
    background: #FFFFFF;
    border: 1px solid #D3DCF4;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $container-height;
}