$row-margin: 10px 0;
$blue: rgba(85, 130, 250, 1);
$blue-disabled: rgba(85, 130, 250, 0.75);
$container-height: 40px;
$padding-vertical: 10px;
$padding-horizontal: 20px;
$input-size: 20px;
$radio-size: 10px;
$small-input-size: 18px;
$small-radio-size: 8px;