.page-title {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.768px;
    color: #000000;
    border-bottom: 1px solid #e1e1e1;
    padding: 25px 20px;
}

.page-title  {
    font-size: 26px;
    padding: 10px 20px;
    text-align: center;
}